<app-header>
</app-header>
<div class="wrapper">
    <div>
        <a>Your uploaded music</a>
    </div>
    <div>
        <a>Your favourite songs</a>
    </div>
    <div style="display: flex">
        <h1>
            Your playlists
        </h1>
        <button mat-raised-button>
            Create new
        </button>
    </div>
    <mat-card>
        SCROLL WITH PLAYLISTS
    </mat-card>
    <h1>
        Your favourite playlists of other users
    </h1>
    <mat-card>
        SCROLL WITH PLAYLISTS
    </mat-card>
</div>
