<app-header>
</app-header>
<div class="wrapper">
    <div *ngIf="uploadedSongs.length === 0;else createPlaylist">
        Завантаж пісні або додай до списку улюблених, щоб мати можливість створити плейлист
    </div>
    <ng-template #createPlaylist>
        <form [formGroup]="createPlaylistForm" (submit)="create()">
            <mat-form-field appearance="outline">
                <input matInput id="name" type="text" formControlName="name" placeholder="Назва плейлисту" />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Пісні</mat-label>
                <mat-select formControlName="songs" multiple>
                    <mat-option *ngFor="let song of uploadedSongs" [value]="song.id">{{song.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button type="submit">Створити</button>
        </form>
    </ng-template>
</div>
