<app-header></app-header>
<app-back-button></app-back-button>
<h1>Вподобання для рекомендацій</h1>
<div class="wrapper">
    <form [formGroup]="uploadForm">
        <mat-form-field appearance="outline">
            <input matInput id="author" type="text" formControlName="author" placeholder="Автор" />
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput id="startYear" type="number" pattern="\d*" formControlName="startYear" placeholder="Початковий рік" />
            <mat-error *ngIf="uploadForm.controls['startYear'].hasError('min')">Start year should be positive</mat-error>
            <mat-error *ngIf="uploadForm.controls['startYear'].hasError('pattern')">Start year should be integer</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput id="endYear" type="number" pattern="\d*" formControlName="endYear" placeholder="Кінцевий рік" />
            <mat-error *ngIf="uploadForm.controls['endYear'].hasError('min')">End year should be positive</mat-error>
            <mat-error *ngIf="uploadForm.controls['endYear'].hasError('pattern')">End year should be integer</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput id="averageLengthInMinutes" pattern="\d*" type="number" formControlName="averageDurationInMinutes" placeholder="Середня тривалість у хв" />
            <mat-error *ngIf="uploadForm.controls['averageDurationInMinutes'].hasError('min')">Duration in minutes should be positive</mat-error>
            <mat-error *ngIf="uploadForm.controls['averageDurationInMinutes'].hasError('pattern')">Duration in minutes should be integer</mat-error>
        </mat-form-field>
        <mat-form-field class="genre" appearance="fill">
            <mat-label>Жанр</mat-label>
            <mat-select [(value)]="selectedGenre">
                <mat-option *ngFor="let genre of genres" [value]="genre">
                    {{genre.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<button mat-raised-button (click)="savePreferences()">Зберегти</button>

