<app-header>
</app-header>
<h1>{{currentUser?.userName}}</h1>
<button mat-raised-button (click)="logOut()">Log out</button>
<p>Сторінка твого профілю</p>
<p>Твій email: {{currentUser?.email}}</p>
<p>Твій номер телефону: {{currentUser?.phoneNumber}}</p>
<h1>
    Створені плейлисти
</h1>
<div class="playlists-container">
    <mat-card class="playlist" *ngFor="let playlist of userPlaylists">
        <mat-card-header>
            <mat-card-title>{{playlist.name}}</mat-card-title>
            <mat-icon>favorite_border</mat-icon>
        </mat-card-header>
        <mat-card-content>
            {{playlist.performersNames | textList}}
        </mat-card-content>
    </mat-card>
</div>
<mat-icon>favorite_border</mat-icon>
<mat-icon>favorite</mat-icon>
