<app-header></app-header>
<app-back-button></app-back-button>
<h1>На цій сторінці ти можеш побачити список всіх твоїх заватажених на платформу пісень</h1>
<div *ngIf="uploadedSongs.length === 0; else songs">
    Ти ще не завантажив жодної пісні. Спробуй завантажити пісню, щоб побачити її на цій сторінці
</div>
<ng-template #songs>
    <app-songs-table
        [dataSource]="uploadedSongs"
        [clickRemoveButtonHandler]="deleteSong"
        [rowClickHandler]="selectSong"
        [columnsToDisplay]="columnsToDisplay"
    >
    </app-songs-table>
</ng-template>
<app-player [currentSongIdSetter]="currentSongIdForMusicPlayer" [files]="uploadedSongs"></app-player>
